body{
    background-color: red;
}
#titulo1{
    background-color: orange;
    font-size: 20px;
    color: whitesmoke;
    
}
#parrafo1{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#parrafo2{
    font-size: 30px;
    color: rgb(255, 255, 255);
}


















